
<div th:fragment="paid" class="checkout-wrap col-xs-12" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="checkout-bar">

        <li class="visited first">Browsing</li>

        <li class="visited">Review & Finalize</li>

        <li class="visited">Shipping & Billing</li>

        <li class="previous visited">Summary & Payment</li>

        <li class="active">Completed</li>

    </ul>
</div>

<div th:fragment="checkedout" class="checkout-wrap col-xs-12" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="checkout-bar">

        <li class="visited first">Browsing</li>

        <li class="visited">Review & Finalize</li>

        <li class="previous visited">Shipping & Billing</li>

        <li class="active">Summary & Payment</li>

        <li class="next">Completed</li>

    </ul>
</div>

<div th:fragment="reviewed" class="checkout-wrap col-xs-12" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="checkout-bar">

        <li class="visited first">Browsing</li>

        <li class="previous visited">Review & Finalize</li>

        <li class="active">Shipping & Billing</li>

        <li class="next">Summary & Payment</li>

        <li class="">Completed</li>

    </ul>
</div>
