
<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Bank Payment</title>
</head>

<body>

<div layout:fragment="content" class="container">

    <div class="well well-sm">
        <strong>Bank Payment</strong>
    </div>

    <div id="bank" class="row list-group">

        <div class="col-xs-12 col-lg-12">

            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="well well-sm">
                        <strong>Credit Card Information</strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8">

                    <form th:action="@{~/payment/bank}" method="POST">

                        <label for="card-holder">Card Holder: </label>
                        <input id="card-holder" type="text" name="card-holder" class="name-input" placeholder="Full Name">

                        <label for="card-number">Card Number: </label>
                        <input id="card-number" type="text" name="card-number-1" class="four-num" placeholder="XXXX">
                        <input type="text" name="card-number-2" class="four-num" placeholder="XXXX">
                        <input type="text" name="card-number-3" class="four-num" placeholder="XXXX">
                        <input type="text" name="card-number-4" class="four-num" placeholder="XXXX">

                        <label for="cvc">CVC: </label>
                        <input id="cvc" type="text" name="cvc" class="three-num" placeholder="XXX">

                        <label for="exp-year">Expiration year: </label>
                        <input id="exp-year" type="number" name="exp-year" min="1900" max="2017" placeholder="YYYY" class="four-num">

                        <label for="exp-month">Expiration month: </label>
                        <input id="exp-month" type="number" name="exp-month" placeholder="MM" class="two-num" min="1" max="12">

                        <input class="btn btn-success add-to-cart" type="submit" value="Submit">

                    </form>

                </div>
            </div>

        </div>

    </div>

</div>

</body>

</html>
