
<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Products</title>
</head>

<body>

    <div layout:fragment="content" class="container">
        <div class="well well-sm">
            <strong th:text="${category.name}">Category Title</strong>
        </div>
        <a th:href="@{~/index/prev}">Prev</a>
        <a th:href="@{~/index/next}">Next</a>
        <div id="products" class="row list-group">

            <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/' + ${prod.imageFileName}" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                        <p class="group inner list-group-item-text" th:text="${#strings.substring(prod.description, 0, 25) + '...'}">Product description... </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>
