
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Font type-->
    <link href="https://fonts.googleapis.com/css?family=Stoke" rel="stylesheet">

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous" defer></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" defer></script>

    <link rel="stylesheet" type="text/css" th:href="@{~/css/custom.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/css/style.css}" />

    <!-- Title formatted as title-pattern specifies -->
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">4loop Shop</title>

    <!-- JavaScript files -->
    <script th:src="@{~/js/utils.js}" defer></script>
    <script th:src="@{~/js/data_handler.js}" defer></script>
    <script th:src="@{~/js/product.js}" defer></script>
    <script th:src="@{~/js/main.js}" defer></script>

</head>

<body>

    <!-- HEADER -->
    <header class="jumbotron text-center">

        <h1>Original Relics Shop</h1>

        <div class="container">
            <div class="row">
                <th:block>
                    <span class="col-xs-8 text-left">
                        <!-- NAVBAR -->
                        <a class="btn" th:href="@{~/}">Products</a>
                        <th:block th:with="loggedIn=${loggedIn}">
                            <th:block th:if="${loggedIn}">
                                <a class="btn" th:href="@{~/cart}">Cart(<span id="cart-item-count">[[${cartItems}]]</span>)</a>
                                <a th:href="@{~/history}" class="btn">History</a>
                                <a th:href="@{~/profile}" class="btn">Profile</a>
                                <form th:action="@{~/logout}" method="POST" class="btn">
                                    <input type="submit" value="Logout">
                                </form>
                            </th:block>
                            <th:block th:unless="${loggedIn}">
                                <a th:href="@{~/register}" class="btn">Register</a>
                                <a th:href="@{~/login}" class="btn">Login</a>
                            </th:block>
                        </th:block>
                    </span>
                </th:block>
                <div th:if="${loggedIn}" class="col-xs-4 text-right">
                    <p class="balance">Balance: <span th:text="${balance}">95200.00</span> USD</p>
                </div>
            </div>
        </div>

    </header>

    <!-- CONTENT -->
    <div class="container" layout:fragment="content"></div>

    <!-- FOOTER -->
    <footer class="text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                &copy; 2016 Codecool Budapest
            </div>
        </div>
    </footer>

    <!-- TOAST MESSAGE -->
    <div id="toast">Placeholder toast message.</div>

</body>

</html>
