
<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>PayPal Payment</title>
</head>

<body>

<div layout:fragment="content" class="container">

    <div class="well well-sm">
        <strong>PayPal Payment</strong>
    </div>

    <div id="paypal" class="row list-group">

        <div class="col-xs-12 col-lg-12">

            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="well well-sm">
                        <strong>PayPal Information</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8">

                        <!-- TODO: form based on ProductController names -->

                        <p>PLACEHOLDER TEXT</p>

                        <form th:action="@{~/payment/paypal}" method="POST">

                            <label for="username">Username: </label>
                            <input id="username" type="text" name="username" class="name-input" placeholder="Enter username...">

                            <label for="password">Password: </label>
                            <input id="password" type="text" name="password" class="name-input" placeholder="Enter password...">

                            <input class="btn btn-success add-to-cart" type="submit" value="Submit">

                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

</body>

</html>
