
<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Review</title>
</head>

<body>

    <th:block layout:fragment="navbar">
        <a class="menu-item" th:href="@{~/}">Products</a>
        <a class="menu-item" th:href="@{~/cart}">Cart(<span id="cart-item-count">[[${cartItems}]]</span>)</a>
    </th:block>

    <div layout:fragment="content" class="container">
        <div class="well well-sm">
            <div id="inner-box">
                <strong id="review-label">Review your cart</strong>
                <div th:if="${#lists.size(items) > 0}">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="center">Product</th>
                                <th class="center">Quantity</th>
                                <th class="center price-width">Price</th>
                                <th class="center subtotal-width">SubTotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${items}" th:object="${item}">
                                <td th:text="*{getProductName()}">Light Sabre from Star Wars</td>
                                <td class="center">
                                    <form action="/change-quantity" method="post">
                                        <input class="review-quantity center" name="quantity-mod" type="number" min="0" max="99" value="1" th:attr="value=*{quantity}, data-product-id=*{product.id}">
                                    </form>
                                </td>
                                <td class="right price-width" th:text="*{#numbers.formatDecimal(actualPrice, 0, 'COMMA', 2, 'POINT')} + ' USD'">200 USD</td>
                                <td th:attr="id=${'subtotal-' + item.product.id}" class="right subtotal-width" th:text="*{#numbers.formatDecimal(subTotalPrice, 0, 'COMMA', 2, 'POINT') + ' USD'}">8400 USD</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="total center">Total</td>
                                <td></td>
                                <td></td>
                                <!--<td class="right subtotal-width total" th:text="*{#numbers.formatDecimal(quantity * actualPrice, 0, 'COMMA', 2, 'POINT') + ' USD'}">1100000 USD</td>-->
                                <td id="total-total" class="right subtotal-width total" th:text="${grandTotal + ' USD'}">11111111 USD</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div th:if="${#lists.size(items) == 0}">
                    <span id="empty-cart-label">Your cart is empty!</span>
                </div>
                <div>
                    <a href="/" role="button" class="btn btn-default">Back to Products</a>
                    <form th:if="${#lists.size(items) > 0}" action="/cart" method="POST">
                        <input class="btn btn-success push-right" type="submit" value="Proceed to Checkout">
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
