
<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Successful Payment</title>
</head>

<body>

    <div layout:fragment="content" class="container">

        <div class="well well-sm">
            <strong>Successful Transaction</strong>
        </div>

        <div id="success" class="row list-group">

            <div class="col-xs-12 col-lg-12">


                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8">

                        <!-- TODO: templating of success message -->

                        <p class="text-justify">Your transaction was successful. We are going to process your order and send
                            all selected products to your shipping address.</p>
                        <p class="text-justify">An e-mail was sent to your e-mail address as a confirmation. Please contact
                            us if you have any questions about your order.</p>

                        <div class="text-center"><a class="text-center btn btn-success" th:href="@{~/}">Back to Index</a></div>
                    </div>
                </div>


            </div>

        </div>

    </div>

</body>

</html>
