
<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Successful Payment</title>
</head>

<body>

    <div layout:fragment="content" class="container">

        <div class="well well-sm">
            <strong>Successful payment content</strong>
        </div>

        <div id="success" class="row list-group">

            <div class="col-xs-12 col-lg-12">

                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <div class="well well-sm">
                            <strong>Successful Payment</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-8 framed">

                            <!-- TODO: templating of success message -->

                            <p>PLACEHOLDER TEXT</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>
